/* @font-face { font-family: 'SF Pro Display'; src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Black.otf') format('opentype'); font-weight: 900; font-style: normal; }
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/*
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/*
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-ThinItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-LightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('https://raw.githubusercontent.com/gminnyoszustpodatkowy-sudo/gminnyoszustpodatkowy-sudo.github.io/main/clock/fonts/SF-Pro-Display-UltralightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}*/
* {
    font-family: 'SF Pro Display', serif;
    margin: 0;
    padding: 0;
    background-color: #010101;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
body{
    margin-top: 15vh;
}
section{
    text-align: center;
}
main{
    display: flex;
    margin-top: 5vh;
}
h3 {
    font-weight: 500;
    font-size: 2.5em;
}

h1 {
    font-weight: 700;
    font-size: 10em;
}
#left{
    width: 50%;
}
#right{
    width: 50%;
}
#select{
    display: flex;
    justify-content: space-around;
}
#selectHead{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
#header{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
#timeInput, #dateInput, .flatpickr-mobile{
    width: 135px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
#timeInput::placeholder, #dateInput::placeholder, .flatpickr-mobile::placeholder{
    color: rgb(192, 192, 192);
}
#timeInput:focus, #dateInput:focus, .flatpickr-mobile:focus{
    border: 2px solid white;
}
.button {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}
#timezone {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
div{
    display: none;
}
p{
    padding-bottom: 10px;
}
@media(max-width: 700px){
    body{
        margin-top: 20px;
    }
    #left, #right{
        width: 100%;
    }
    #select{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    #select input, select{
        margin: 10px;
    }
    main{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    h1{
        font-size: 7em;
    }
    #left, #right{
        width: 100%;
    }
    #selectHead{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
}