* {
    font-family: 'SF Pro Display', serif;
    margin: 0;
    padding: 0;
    background-color: #010101;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid white;
}
#head {
    font-weight: 700;
    font-size: 30px;
}
#container{
    display: flex;
    justify-content: center;
}
nav input {
    padding: 7px;
    border: 2px solid white;
    border-radius: 100px;
    font-weight: 700;
    outline: none;
    margin-left: 15px;
}
nav button {
    padding: 7px;
    border: 2px solid white;
    border-radius: 100px;
    margin-left: 15px;
    font-weight: 700;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 700px;
}
#weatherCityName {
    font-weight: 600;
    font-size: 2em;
    padding-bottom: 10px;
}
#weatherTemperatureNow{
    font-size: 5em;
    padding: 10px;
}
#weatherName{
    font-size: 2em;
    padding: 10px;
}
#weather{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.weatherCaffle{
    background-color: #333333;
    padding: 10px;
    width: 44%;
    border-radius: 10px;
    margin: 1%;
}
#weatherRadar {
    background-color: #333333;
    padding: 10px;
    width: 88%;
    border-radius: 10px;
    margin: 1%;
}
#weatherRadar a, sup{
    background-color: #333333;
}
#weather h1, span{
    background-color: #333333;
}
#weatherInfo{
    text-align: center;
}
#weatherFullGetTime{
    text-align: center;
}
#weatherTemperatureMinMax{
    padding-bottom: 10px;
}
#weatherForecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 30px;
    background-color: #333333;
    padding: 10px;
    width: 94%;
    border-radius: 10px;
    margin: 1%;
}
#day{
    background-color: #333333;
}
#day span{
    justify-content: space-between;
}
span img{
    background-color: #333333;
    width: 30px;
}

@media(max-width: 600px) {
    main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#weatherCityName {
    font-weight: 600;
    font-size: 2em;
    padding-bottom: 10px;
}
#weatherTemperatureNow{
    font-size: 5em;
    padding: 10px;
}
#weatherName{
    font-size: 2em;
    padding: 10px;
}
#weather{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.weatherCaffle{
    background-color: #333333;
    padding: 10px;
    width: 88%;
    border-radius: 10px;
    margin: 1%;
}
#weatherRadar {
    background-color: #333333;
    padding: 10px;
    width: 88%;
    border-radius: 10px;
    margin: 1%;
}
#weatherRadar a, sup{
    background-color: #333333;
}
#weather h1, span{
    background-color: #333333;
}
#weatherInfo{
    text-align: center;
}
#weatherFullGetTime{
    text-align: center;
}
#weatherTemperatureMinMax{
    padding-bottom: 10px;
}
#weatherForecast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 30px;
    background-color: #333333;
    padding: 10px;
    width: 94%;
    border-radius: 10px;
    margin: 1%;
}
#day{
    background-color: #333333;
}
#day span{
    justify-content: space-between;
}
span img{
    background-color: #333333;
    width: 30px;
}
}